.error-message {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #f00;
  font-weight: 400;
  position: absolute;
}

.error-message_content_search-form {
  top: 42px;
  left: 23px;
}

.error-message_content_email {
  top: 140px;
}

.error-message_content_password {
  top: 222px;
}

.error-message_content_username {
  bottom: 140px;
}

.error-message_content_api {
  bottom: 130px;
  left: 125px;
}

@media screen and (max-width: 501px) {
  .error-message_content_search-form {
    top: 35px;
    left: 16px;
  }

  .error-message_content_email {
    top: 115px;
  }

  .error-message_content_password {
    top: 197px;
  }

  .error-message_content_username {
    bottom: 290px;
  }
}
