.saved-news-header {
  padding: 40px 0 56px 104px;
  color: #1a1b22;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.saved-news-header__title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__paragraph {
  margin: 0;
  font-size: 40px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  max-width: 530px;
  line-height: 1.15;
}

.saved-news-header__keywords {
  margin: 0;
  line-height: 1.33;
}

.saved-news-header__keywords_bold {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .saved-news-header {
    padding: 40px 0 40px 56px;
  }
}

@media screen and (max-width: 919px) {
  .saved-news-header {
    padding: 24px 0 40px 32px;
    gap: 16px;
  }

  .saved-news-header__title {
    font-size: 14px;
    line-height: 1.7;
  }

  .saved-news-header__paragraph {
    font-size: 30px;
    line-height: 1.13;
    max-width: 336px;
  }
}

@media screen and (max-width: 501px) {
  .saved-news-header {
    padding: 8px 16px 32px;
  }

  .saved-news-header__paragraph {
    margin-bottom: 34px;
  }
}
