.main {
  max-width: 608px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  gap: 32px;
}

.main__heading {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 60px;
  line-height: 1.06;
  margin: 0;
}

.main__paragraph {
  margin: 0;
}
