.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(196, 196, 196, 0.4);
  padding: 19px 104px 13px;
  /* z-index: -1; */
  position: relative;
}

.header__link {
  text-decoration: none;
}

.header__logo {
  line-height: 1.2;
  margin: 0;
  font-family: 'Roboto Slab';
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.header__logo_path_main {
  color: #fff;
}

.header__logo_path_saved-news {
  color: #1a1b22;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-left: 52px;
    padding-right: 52px;
  }
}

@media screen and (max-width: 919px) {
  .header {
    padding: 14px 40px 12px;
  }

  .header__logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 570px) {
  .header {
    padding: 16px;
  }

  .header__logo {
    font-size: 16px;
    line-height: 1.5;
  }
}
