.footer {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 32px 104px 26px;
  gap: 112px;
  box-sizing: border-box;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__paragraph {
  color: #b6bcbf;
  margin: 0;
  font-size: 16px;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 26px;
}

.footer__list-item {
  transition: opacity 0.4s;
}

.footer__list-item:hover {
  opacity: 0.4;
}

.footer__list-paragraph {
  margin: 0;
}

.footer__list-link {
  text-decoration: none;
  color: #1a1b22;
  margin-right: 14px;
}

.footer__list-social-link {
  display: flex;
}

.footer__list-logo {
  width: 24px;
  height: 24px;
  object-position: 100% 100%;
}
