.card {
  max-width: 400px;
  width: 32%;
  height: 576px;
  position: relative;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card__image {
  border-radius: 18px 18px 0 0;
  max-width: 400px;
  max-height: 272px;
  height: 100%;
}
.card__content {
  height: 304px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 24px 24px;
  background-color: #fff;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
}

.card__date {
  font-family: sans-serif;
  color: #b6bcbf;
  margin: 0;
}

.card__title {
  font-family: 'Roboto Slab';
  color: #1a1b22;
  font-size: 26px;
  margin: 0 0 4px 0;
  line-height: 1.15;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card__paragraph {
  margin: 0 0 6px 0;
  color: #1a1b22;
  font-size: 16px;
  line-height: 1.38;
  max-height: 110px;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.card__source {
  margin: 0;
  color: #b6bcbf;
  font-family: 'Roboto Slab';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.card__absolute-content {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  gap: 5px;
}

.card__warning {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  padding: 11px 20px;
  border-radius: 8px;
  line-height: 18px;
  margin: 0;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s;
}

.card__warning_active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}

.card__button {
  border-radius: 8px;
  width: 40px;
  height: 40px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-image 0.5s;
}

.card__button_path_main {
  background-image: url(../../images/bookmark.svg);
}

.card__button_path_main:hover {
  background-image: url(../../images/bookmark-black.svg);
}

.card__button_path_saved-news {
  background-image: url(../../images/trash-grey.svg);
}

.card__button_path_saved-news:hover {
  background-image: url(../../images/trash-black.svg);
}

@media screen and (max-width: 919px) {
  .card {
    height: 420px;
  }

  .card__content {
    height: 270px;
  }

  .card__image {
    max-height: 150px;
  }

  .card__absolute-content {
    top: 8px;
    right: 8px;
  }

  .card__warning {
    font-size: 10px;
    padding: 7px 10px;
  }
}

@media screen and (max-width: 631px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 501px) {
  .card {
    max-width: 288px;
    width: 100%;
  }

  .card__content {
    padding: 16px;
    gap: 8px;
  }

  .card__title {
    font-size: 22px;
    line-height: 1.1;
  }

  .card__image {
    height: 196px;
  }
}
